html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 78.195%;
  }
}

body {
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  font-size: 1.2rem;
  line-height: 1.75em;
}

h1 {
  float: left;
  padding: 6px 0;}
　h1 a {
  display: block;
  width: 64px;
  height: 69px;
  font-size: 0;
  background: url(./images/logo_coffee.svg) left top/64px auto no-repeat;} 

  h1 img {
  width: 160px;
  height: 160px;
  }
@media screen and (min-width: 768px) {
      h1 img {
          width: 200px;
          height: 200px;
      }
  }
  @media (orientation: landscape){
    h1 img {
      width: 100px;
      height: 100px;
    }
  }

.cdt_wrapper {
  /* background-color: #e9e9eb; */
  /* font-weight: bold; */
  text-align: center;
  line-height: 2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .cdt_wrapper {
    line-height: 2.5;
    font-size: 0.8rem;
    padding: 0 20px;
  }
}

/* .cdt_wrapper small {
  font-size: .6em;
  padding: 0 .4em;
} */

.cdt {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cdt_txt {
  font-size: .6em;
  display: inline-block;
  margin-right: .6em;
}

@media screen and (min-width: 768px) {
  .cdt_txt {
    font-size: .5em;
  }
}

.cdt_txt span {
  display: block;
  line-height: 1;
}
.cdt_date {
  font-size: 6.6rem;
}
@media screen and (min-width: 768px) {
  .cdt_date {
      font-size: 12.6rem;
  }
}
@media (orientation: landscape){
  .cdt_date {
    font-size: 7.6rem;
}
}

.cdt_num {
  background-color: #ffffff;
  padding: 0 .15em;
}

@media screen and (min-width: 768px) {
  .cdt_num {
    line-height: 1;
    padding: .3em .15em;
  }
}